<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szip.healthy">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />

    <application>
        <activity android:name=".Activity.card.CardEditActivity"></activity>
        <activity android:name=".Activity.sport.SportListActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>