<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szip.user">

    <application>
        <activity android:name=".Search.DeviceActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".UserSetActivity"></activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".UnitSelectActivity" />
    </application>

</manifest>